@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: none;
}

body {
  background-color: white;
}

.window {
  height: auto;
  width: 100vw;
}

.slide-bar {
  z-index: 10;
}

.nav-bar {
  position: fixed;
  height: 6rem;
  width: 100%;
  background-color: #001f3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: auto;
  width: 100%;
  background-color: white;
  padding: 12rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bull-icon {
  width: 5.5rem;
  height: 4rem;
  background-repeat: no-repeat;
  display: flex;
  background-position: center;
  background-size: 100%;
}

.bull-icon svg {
  filter: brightness(0) invert(1);
}

.company {
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin-left: 1.5rem;
}

.search-container {
  margin-left: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 1rem;
}

.search-button {
  height: 2.6rem;
  width: 2.6rem;
  background-color: transparent;
  cursor: pointer;
  margin-top: 0.2rem;
}
.search-input {
  width: 8rem;
  font-size: 1.4rem;
  font-weight: bold;
  border: 2px solid #001f3f;
  padding: 0.3rem 0 0.3rem 1.3rem;
  border-radius: 2rem;
  background-color: white;
  text-transform: uppercase;
}

input::placeholder {
  text-transform: none;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  height: 75%;
  width: 75%;
}

.nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0 1rem;
}

.nav-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.22rem;
  text-underline-offset: 0.4rem;
}

.separator {
  height: 2rem;
  width: 0.2rem;
  background-color: white;
  margin: 0 10px;
  border-radius: 25pt;
}

.financial-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.financial-statement-title {
  color: #001f3f;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  padding: 1rem;
}

.financial-statement-table {
  color: #001f3f;
  background-color: white;
}

.financial-statement-table .asOfDate-row {
  font-weight: bold;
}

.financial-statement-table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: right;
}

.financial-statement-table .left-column {
  font-weight: bold;
  text-align: left;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart {
  height: 30rem;
  width: 50rem;
  background-color: #001f3f;
  padding: 1.2rem;
}

.chart-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-type {
  color: #001f3f;
  font-size: 1.5rem;
  padding: 0.8rem;
  cursor: pointer;
  margin-top: 0.4rem;
}

.chart-type:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.22rem;
  text-underline-offset: 0.4rem;
}

.selected {
  text-decoration: underline;
  text-decoration-thickness: 0.22rem;
  text-underline-offset: 0.4rem;
}
